<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header><%=title %></header>
    <div class="wrapper">
        <div class="form_insert column1">
            <!-- Обратите внимание на атрибут action -->
            <form action="/tasks" method="post">
                <label for="form_task">Название задачи</label><input class="form_taskName" id="form_task" type="text" name="form_taskName" /> </br>
                <label for="form_task">Описание задачи</label><input class="form_taskDescription" id="form_task" type="text" name="form_taskDescription" /> </br>
                <label for="form_task">Дата/Время</label><input class="form_taskDateTime" id="form_task" type="datetime-local" name="form_taskDateTime" /> <br>
                <!-- Другие поля добавляются аналогично -->
                <button type="submit" value="Добавить задачу">Добавить задачу</button>
            </form>
        </div>
        <div class="taskView column2">
            <% if(tasksVisible) {%>
                
                    <% for(var i=0; i<taskName.length;i++) {%>
                        <div class="task">
                            <p class="taskName"><%=taskName[i] %></p>
                            <p class="taskDesc"><%=taskDesc[i] %></p>
                            <p class="taskDateTime"><%=taskDateTime[i] %></p>
                        </div>
                    <%} %>             
                
                <% }else {%>
                        <h3>Задачи отсутствуют</h3>
                <%} %>
        </div>
    </div>
        
</body>
<html>

    