<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1><%=title %></h1>
     
    <% if(tasksVisible) {%>
        <div class="wrapper">
            <% for(var i=0; i<taskName.length;i++) {%>
                <div class="taskView">
                    <p class="taskName"><%=taskName[i] %></p>
                    <p class="taskDesc"><%=taskDesc[i] %></p>
                    <p class="taskDateTime"><%=taskDateTime[i] %></p>
                </div>
            <%} %>             
        </div>
        <% }else {%>
            <h3>Задачи отсутствуют</h3>
        <%} %>
        
</body>
<html>

    